html {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #434541;
}

@keyframes wheelTurning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.wheels {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 93vh;
}

.wheel {
    transition: all 0.07s ease-in-out;
}

.wh1 {
    position: absolute;
    z-index: 3;

    transform: scale(1);

    animation: wheelTurning 10s linear 0 infinite;
}

.wh-ellipse {
    fill: #434541;
    stroke: #A6A09C;
    transition: all 0.1s ease-in-out;
}

.wh-inner-ellipse {
    fill: #434541;
    stroke: #A0A49A;
}

line {
    stroke: #A0A49A;
}

text {
    fill: #D5DACF;
}

.wh2 {
    position: absolute;
    z-index: 2;

    transform: scale(1.23);
}

.wh3 {
    position: absolute;
    z-index: 1;

    transform: scale(1.5);
}

.combination {
    position: absolute;
    z-index: 4;
    font-size: 50px;
    color: #D5DACF;
}

footer {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #D5DACF;
}

a {
    color: inherit;
    text-decoration: none;
  }

